<html>
<body>

    <h1>List: {{entity.Labels}}</h1>


    <!-- Header helper (wrapper like eachDescending).  Uses elements and entity.List properties for hidden columns etc.  Doesnt need rows at all. -->

    <!-- Helper to return values for each column(field).   -->


    <ul>
        <li>
            <ul>
                {{#listColumnHeadings entity.Elements}}
                    <li>
                        <strong>{{this.Label}}</strong>
                    </li>
                {{/listColumnHeadings}}
            </ul>
        </li>

        {{#listRows entity.Elements rows}}
            <li>
                <ul>
                    {{#listCells entity.Elements this}}
                        <li>{{this}}</li>
                    {{/listCells}}

                </ul>
            </li>
        {{/listRows}}

    </ul>




</body>
</html>
